*.gem
*.rbc
*.swp
.bundle
.rvmrc
.config
.yardoc
.rspec
.idea/
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Vagrantfile
vendor/
