---
name: ci

on:
  push:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened

permissions: {}

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false

      matrix:
        ruby-version:
        - "2.2"
        - "2.3"
        - "2.4"
        - "2.5"
        - "2.6"
        - "2.7"
        - "3.0"
        - "3.1"
        - "3.2"
        - "3.3"
        - "3.4"

    steps:
    - uses: actions/checkout@v4
      with:
        persist-credentials: false

    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true

    - run: bundle exec rake
